[Unit]
Description=makex-ui Service
Documentation=https://github.com/xeefei/X-Panel
After=network.target
Wants=network.target

[Service]
Restart=always
TimeoutStopSec=20s

Environment="XRAY_VMESS_AEAD_FORCED=false"
Type=simple
WorkingDirectory=/usr/local/makex-ui/
ExecStart=/usr/local/makex-ui/makex-ui
RestartSec=5s

[Install]
WantedBy=multi-user.target
